

body {                              /*Background color for the body*/
    background-color: #358597;
}

.header {                           /*Styling for the header*/
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: tan;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

h1 {                                /*Styling for the section headers*/
    color: #ffffff;
}

.header h1 {                        /*Sets font and position for the header*/
    display: inline-block;
    font-size: 48px;
}

.profilepic {                       /*Styling for profile pic*/
    max-width: 20%;
    max-height: 20%;
    margin-left: 150px;
    border-style: groove;
    border-width: 15px;

}

p {                                 /*Text color in the about me section*/
    color: #ffffff
}



.header nav {                       /*Styling for the navigation*/                                                          
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

    


.header nav ul li {                           /*Positions the navigation menu*/         
    display: inline-block;
    margin-left: 25px;
}

a {                                            /*Sets hyperlink color*/
    color: #ffffff;
    text-decoration: none;
    display:inline-block;
}

.imgtext {                              /*Text boxes on images*/
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 30px;
    background-color: white;
    color: #358597;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: groove;
    border-width: 20px;

}

.container {                        /**/
   position: relative; 
   text-align: center;
   color: white;
}

.Image1, .Image2 {                          /*Positions the stock images*/   
    display:flex;
    flex-direction: column;
    max-width:40em;
    max-height: 40em;
    margin: 5px;
    

}

.row {                                      /*Used to position the  4 smaller stock images*/   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

.column {                                   /*Used to position the  4 smaller stock images*/  
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}

.Image {                                    /*Used to position the larger stock image*/  
    display: flex;
    max-width: 1307px;
    margin: 10px;
}

.Image1:hover, .Image2:hover, .Image:hover {        /*Adds glow on hover to the stock images*/
  box-shadow: inset 0px 0px 8px
  #ffffff, 0 0 15px
 #ffffff;
}


.footerlinks {                                      /*Styling for the links at the bottom of the page*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: tan;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

















